<% include partials/head %>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/admin/home">Tweet Classifier</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/admin/home">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><span><strong>admin id</strong> : <%= user._id ? user._id : '' %> </span></li>
            <li><a href="/admin/logout"> Sign out</a></li>
          </ul>
        </div>
      </nav>
      </br>
      <form action="/admin/training" method="post">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="tag" required>
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      </br>
      <form action="/admin/settraining" method="post">
      <% if (data.length === 0){ %>
        <div class="alert alert-danger">
        <strong>Maaf!</strong> Pencarian anda tidak dapat ditemukan.
        </div>
      <%}%>
      <div class="pre-scrollable" width="50">
        <table class="table">
          <thead>
            <tr>
              <th>Data</th>
              <th>Label</th>
            </tr>
          </thead>
          <tr>
              <% data.forEach( function( data ){ %>
                <tbody>
                  <td>
                    <textarea class="form-control" id="comment" name="data"><%= data %></textarea>
                  </td>
                  <td><select class="form-control" name="label">
                      <option value="positif">Positif</option>
                      <option value="negatif">Negatif</option>
                    </select></td>
                  <td>
                  </td>
          </tr>
          </tbody>
          <% }); %>
        </table>
      </div>
      <button type="submit" class="btn btn-success">Simpan</button>
      </form>
      <div id="chart_div"></div>
      <%- include('../layout/footer') %>
    </div>
  </body>
  </html>