<%- include('../views/layout/layout') %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <div class="alert alert-warning">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Maaf!</strong> pencarian tidak ditemukan.
                </div>
                <div class="error-details">
                    Silahkan klik dibawah ini untuk kembali ke halaman utama.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">Home </a>
                </div>
            </div>
        </div>
    </div>
</div>