<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../views/layout/layout') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      var co = <%- data %>;
      function drawChart() {
        var data = google.visualization.arrayToDataTable(co);
        var options = {
          chart: {
            title: 'Hasil Klasifikasi',
            subtitle: '7 Data Klasifikasi Terakhir',
          },
          bars: 'vertical',
          vAxis: {format: 'decimal'},
          height: 400,
          colors: ['#4286f4', '#e80d0d', '#74998d']
        };

        var chart = new google.charts.Bar(document.getElementById('chart_div'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
        $( function() {
          $( "#datepicker1" ).datepicker({ minDate: -7, maxDate: "0", dateFormat: 'yy-mm-dd' }).val();
          $( "#datepicker2" ).datepicker({ minDate: -7, maxDate: "0", dateFormat: 'yy-mm-dd' }).val();
        } );
    </script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Klasifikasi Tweet</h1>
      </div>
      <p class="lead">Situs pengklasifikasian tweet.</p>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
      </br>
      <p>Silahkan isi kolom pencarian dibawah ini untuk melakukan klasifikasi berdasarkan keyword pencarian (hastag).</p>
      <form action="/tweet" method="post">
        <div class="form-group">
          <label for="email">Priode Tanggal:</label>
          <div class="input-daterange input-group">
                <input type="text" class="input-sm form-control" name="start" id="datepicker1" placeholder="Tanggal Mulai" required />
                <span class="input-group-addon">sampai</span>
                <input type="text" class="input-sm form-control" name="end" id="datepicker2" placeholder="Tanggal Akhir" required/>
            </div>
        </div>
        <div class="form-group">
          <label for="pwd">Silahkan masukkan keyword pencarian</label>
          <input class="form-control mr-sm-2" placeholder="Search" name="tag" id="tag" required>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0"type="submit">Cari</button>
      </form>
      <br/>
      <p>Berikut ini adalah hasil klasifikasi dari data pencarian yang sebelumnya.</p>
      <div id="chart_div"></div>  
    </div>
    <%- include('./layout/footer') %>
  </body>
</html>
